@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-figtree: 'Figtree', sans-serif;
    --button-tetriary-reversed-normal: rgb(255 255 255);
    --button-tetriary-reversed-hover: rgba(255, 255, 255, 0.72);
  }

  body {
    @apply bg-background-white text-content-primary;
    font-family: var(--font-figtree);
  }

  /* Remove default focus styles */
  input:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
